{% extends 'front/base.html.twig' %}


{% block body %}
<div class="container bg-light">


{% include('front/components/header-bright.html.twig') %}
<div class="wrapper contact-form">
<h2 class="txt-center mb-4">Subscribe</h2>
    {{ form(form) }}
</div>
    </div>
{% endblock %}