.admin-page {
    display: grid;
    grid-template-columns: 10rem 1fr;
    color: white;
}

.admin-aside {
    grid-column: 1/2;
    display: fixed;
    color: $c-tint-3;
}
.admin-aside a {
    display: block;
}
.admin-aside__active  {
    color: white;
}
.admin-main {
    grid-column: 2/3;
}

#article div label {
    display: block;
}
.article-form__input {
    border: 1px solid $c-tint-3;
    margin: .5rem 0 1rem 0;
}
